body, 
html {
  margin: 0;
  padding: 0;
}

cc-slider {
  display: block;
  width: 100vw;
  height: 100vh;
  max-height: 640px;
  position: relative;
  overflow: hidden;
  cursor: move;
  
  &[dragging] {
    .slider__inner {
      transition-duration: 0;
    }
  }
}

.slider__inner {
  display: flex;
  width: 100vw;
  height: 100%;
  transition: transform .3s ease-out;
}

.slide {
  display: block;
  margin: 0;
  height: 100%;
}

.slide__image {
  display: block;
  width: 100vw;
  height: 100%;
  background-color: #E82C0C;
}

.slide__image--dark {
  background: #E80C7A;
}

.slide__image--light {
  background: #FF0DFF;
}

.slider__controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__previews {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.slider__preview-link {
  display: block;
  margin: 0 5px;
  text-indent: -9999em;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid gray;

  &[data-active] {
    background-color: red;
  }
}

.slider__arrow-control {
  display: none;
}